Repository multipleton/quoridor, pull requests merged in 2021-10, with the labels that each got.

#11 Core updates
  core/Quoridor.Core.Test/GameEngineTests.cs
  core/Quoridor.Core/Exceptions/InvalidOSPOperationException.cs
  core/Quoridor.Core/Models/Connection.cs
Labels: [core]

#17 Global OnStart and OnFinish actions added
  core/Quoridor.Core/GameEngine.cs
Labels: feature, [core]

#12 remake path finder, add transform to adjacency matrix, add dfs
  core/Quoridor.Core/Logic/PathFinder.cs
Labels: [core]

#19 Move checking functions connected to PathFinder
  core/Quoridor.Core/GameEngine.cs
  core/Quoridor.Core/Logic/PathFinder.cs
  core/Quoridor.Core/Models/Point.cs
  core/Quoridor.Core/Models/Wall.cs
Labels: [core]

#21 Bugs with pathfinder fixed
  core/Quoridor.Core/Logic/PathFinder.cs
Labels: bug

#20 Bug fixes from testfest/ms1
  ai/Quoridor.AI/Quoridor.AI/RandomBot.cs
  console/Quoridor.Console.Input/InputHandler.cs
  console/Quoridor.Console.Output/OutputHandler.cs
  console/Quoridor.Console/Menu.cs
  console/Quoridor.Console/Program.cs
  core/Quoridor.Core/Logic/PathFinder.cs
Labels: testfest

#22 Bug with jump across another player fixed
  core/Quoridor.Core/Logic/PathFinder.cs
Labels: bug

#23 Bug with jump across another player fixed
  core/Quoridor.Core/Logic/PathFinder.cs
Labels: bug
